@model ASP.NETMVC.Models.AUTEURS

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}




<div class="row" style="height:auto">
    <div class="container col-12 col-sm-10 col-md-8 mx-auto card shadow rounded my-4 " style="background-color: #5d6d7e;">
        <h3>Etes vous sure de supprimer ce auteur?</h3>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                AUTEUR
            </dt>

            <dd>
                @Html.DisplayFor(model => model.NOM_AUTEUR)
            </dd>

        </dl>

        @using (Html.BeginForm())
         {
            @Html.AntiForgeryToken()

            <div class="form-actions no-color">
                @Html.ActionLink("Retour", "Index",null,new {@class="btn btn-info my-3" })
                <input type="submit" value="Supprimer" class="btn btn-primary my-3 mx-2" />

            </div>
         }
    </div>
</div>
